body {

  background-color: #2fc4b2;

}

hr{

border-style: none;

border-bottom:dotted;

width:5%;

color: grey;

border-width: 4px;

}

h2{

color: #a8df65;


}

h1{


color: #0a97b0;

}

h3
{

color: #0a97b0;

}
img
{
  border-radius:100%;
}
